#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cards{
  display: flex;
  justify-content: space-around;
}
.card1,.card2,.card3{
  margin-top: 50px;
  max-width: 250px;
  max-height: 250px;
  background-color: aqua;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-res{
  width: 400px;
  max-height: 400px;
}
.img-row{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.islamic-card{
  display: flex;
  flex-direction: column;
}